# Environment variables
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# FAISS vector store cache / local embeddings index (future)
vectorstore/
faiss_index/

# OS specific
Thumbs.db
.DS_Store
